@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --theme-pri: #139DDB;
    --theme-sec: #E4FEFF;
    --bg1_dark: #00E6E6;
    --bg1_light: #a5f8f8;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .1s ease;
    scroll-behavior: smooth;
}

body {
    /* border: 2px solid red; */
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* max-height: 100vh; */
}

#maincontainer,
#joincontainer {
    /* border: 2px solid red; */
    display: flex;
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

.icon {
    /* border: 2px solid red; */
    height: 20px;
    width: 20px;
    margin: 5px;
}

h1 {
    height: 5vh;
    text-align: center;
}

#chatdetailsec {
    width: 20vw;
    background: white;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
}

#chatdetailsec>h2 {
    width: 20vw;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 10px silver;
}

#chatdetailsec>h2 {
    width: 20vw;
    background: white
}

#members {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 10px silver;
    margin-top: 20px;
}

ul {
    list-style: none;
}

#chatinterface {
    width: 80vw;
    background: linear-gradient(45deg, var(--bg1_dark), var(--bg1_light));
}

#chatnamesec {
    height: 5%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    box-shadow: 0px 5px 10px rgba(192, 192, 192, 0.642);
}

#msgsec {
    height: 90%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 10px 0 10px;
    font-family: 'Poppins', sans-serif;
}

.entry {
    color: #919191;
    text-align: center;
    font-size: .7rem;
}

.omsgsec,
.imsgsec {
    /* max-width: 400px; */
    margin: 10px;
    max-width: 65%;
}

.omsgsec {
    margin-left: auto;
}

.omsgsec>h4,
.imsgsec>h4 {
    color: #596fff;
    font-size: .7rem;
}

.omsgsec>h4 {
    text-align: right;
}

.omsgsec>.msg,
.imsgsec>.msg {
    border-radius: 5px;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
}

.omsgsec>.msg>span,
.imsgsec>.msg>span {
    margin-left: auto;
    font-size: .6rem;
    opacity: .6;
}

.imsgsec>.msg {
    color: white;
    background: var(--theme-pri);
}

.omsgsec>.msg {
    color: black;
    background: var(--theme-sec);
}

.imsgsec {
    margin-right: auto;
}

.imsgsec>h4 {
    text-align: left;
}

#typesec {
    display: flex;
    padding: 0 20px;
}

#typesec>textarea {
    height: 40px;
    max-height: 100px;
    width: 95%;
    padding: 5px 10px;
    margin: 5px 10px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

#typesec>button {
    margin: auto;
    width: 10%;
    height: 40px;
}


.btn {
    height: auto;
    width: auto;
    background: transparent;
    color: var(--theme-pri);
    border: none;
    border: 2px solid var(--theme-pri);
    border-radius: 5px;
    border-color: var(--theme-pri);
    font-family: 'Poppins', sans-serif;
    padding: 5px 20px;
}

.btn:hover {
    color: white;
    background: var(--theme-pri);
    transition: none;
}

.btn:hover img {
    filter: invert();
}



/* HomePage */
nav {
    /* border: 2px solid red; */
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    box-shadow: 0 2px 20px var(--bg1_light);
    position: fixed;
    z-index: 100;
    width: 100%;
    background: rgba(255, 255, 255, 0.515);
    backdrop-filter: blur(2px);
}

nav>* {
    /* border: 2px solid red; */
}

nav>h1 {
    /* border: 2px solid red; */
}

.brandName>span {
    color: var(--theme-pri);
}

nav>ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav>ul>li {
    margin: 0px 50px;
}

nav>ul>li>button {
    background: none;
    border: none;
    font-size: 1rem;
}

nav>ul>li>button:hover {
    transform: scale(1.1);
    color: var(--theme-pri);
}

#homebody,
#aboutbody,
#joinbody,
#createbody {
    /* margin-top: 60px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(145deg, var(--theme-sec), white);
}

#homebody>* {
    /* border: 2px solid red; */
}

#homebody>:nth-child(1) {
    /* border: 2px solid blue; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    -webkit-box-reflect: below 100px linear-gradient(transparent, rgba(255, 255, 255, 0.1));
}

#homebody>:nth-child(1)>* {
    width: fit-content;
    margin: 5px 0;
}

#homebody>:nth-child(1)>h1 {
    font-size: 3rem;
    margin-bottom: 15px;
    /* border: 2px solid blue; */
}

#homebody>div>img {
    /* border: 2px solid blue; */
    -webkit-box-reflect: below -150px linear-gradient(transparent, rgba(255, 255, 255, 0.1));
}


#homecontainer,
#aboutcontainer {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

#aboutbody {
    flex-direction: column;
    align-items: center;
}

#aboutbody>* {
    width: 50%;
}

#aboutbody>:nth-child(1) {
    /* border: 2px solid red; */
}

#aboutcontainer>* {
    /* border: 2px solid red; */
}


/* footer */
.footer {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 0;
    width: 100%;
    background: linear-gradient(145deg, var(--theme-sec), white);
}

.footer h2 {
    color: black;
}

.footer ul {
    display: flex;
    margin: 10px;
    list-style: none;
}

.footer ul li {
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid red; */
    margin: 10px;
    justify-content: center;
    align-items: center;
    transition: all .1s ease;
}

.footer li:hover {
    transform: scale(1.05);
    /* text-shadow: 0 0 5px rgba(0, 0, 255, 0.9); */
}

.footer img {
    height: 30px;
    margin: 0 5px;
}

.footer a {
    color: var(--theme-pri);
    text-decoration: none;
}

#linksec {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

#linksec>button {
    position: fixed;
    top: 10%;
    right: 10%;
}

#linksec>div {
    background: white;
    padding: 10px 20px;
    border: 5px;
    display: flex;

}







/* Join and CreatePage */
#createbody>div,
#joinbody>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.inp {
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    width: 500px;
}

#createbody>div>a,
#joinbody>div>a{
    color: silver;
    font-size: small;
}

#createbody>div>a:hover,
#joinbody>div>a:hover{
    color: var(--theme-pri);
}