@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --theme-pri: #139DDB;
    --theme-sec: #E4FEFF;
    --bg1_dark: #00E6E6;
    --bg1_light: #a5f8f8;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .1s ease;
    scroll-behavior: smooth;
}

body {
    /* border: 2px solid red; */
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* max-height: 100vh; */
}

.icon {
    /* border: 2px solid red; */
    height: 20px;
    width: 20px;
    margin: 5px;
}

h1 {
    height: 5vh;
    text-align: center;
}

.btn {
    height: auto;
    width: auto;
    background: transparent;
    color: var(--theme-pri);
    border: none;
    border: 2px solid var(--theme-pri);
    border-radius: 5px;
    border-color: var(--theme-pri);
    font-family: 'Poppins', sans-serif;
    padding: 5px 20px;
}

.btn:hover {
    color: white;
    background: var(--theme-pri);
    transition: none;
}

.btn:hover img {
    filter: invert();
}

/* HomePage */
.brandName>span {
    color: var(--theme-pri);
}

ul {
    list-style: none;
}

/* Join and CreatePage */
.inp {
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    width: 500px;
}