@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --theme-pri: #139DDB;
    --theme-sec: #E4FEFF;
    --bg1_dark: #00E6E6;
    --bg1_light: #a5f8f8;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .5s ease;
    scroll-behavior: smooth;
}

body {
    border: 2px solid red;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* max-height: 100vh; */
}

#maincontainer {
    border: 2px solid red;
    display: flex;
    height: 90vh;
    width: 100vw;
}

.icon {
    /* border: 2px solid red; */
    height: 20px;
    width: 20px;
    margin: 5px;
}

h1 {
    height: 5vh;
    text-align: center;
}

#chatdetailsec {
    width: 20vw;
    background: white;
    border: 2px solid red;
}

#chatdetailsec>h2 {
    width: 20vw;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chatdetailsec>h2 {
    width: 20vw;
    background: white
}

#members {
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

#chatinterface {
    width: 80vw;
    background: linear-gradient(45deg, var(--bg1_dark), var(--bg1_light));
}

#chatnamesec {
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 10px rgba(192, 192, 192, 0.642);
}

#msgsec {
    height: 90%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 10px 0 10px;
    font-family: 'Poppins', sans-serif;
}

.entry {
    color: #919191;
    text-align: center;
    font-size: .7rem;
}

.omsgsec,
.imsgsec {
    /* max-width: 400px; */
    margin: 10px;
    max-width: 65%;
}

.omsgsec {
    margin-left: auto;
}

.omsgsec>h4,
.imsgsec>h4 {
    color: #596fff;
    font-size: .7rem;
}

.omsgsec>h4 {
    text-align: right;
}

.omsgsec>.msg,
.imsgsec>.msg {
    border-radius: 5px;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
}

.omsgsec>.msg>span,
.imsgsec>.msg>span {
    margin-left: auto;
    font-size: .6rem;
    opacity: .6;
}

.imsgsec>.msg {
    color: white;
    background: var(--theme-pri);
}

.omsgsec>.msg {
    color: black;
    background: var(--theme-sec);
}

.imsgsec {
    margin-right: auto;
}

.imsgsec>h4 {
    text-align: left;
}

#typesec {
    display: flex;
    padding: 0 20px;
}

#typesec>textarea {
    height: 40px;
    max-height: 100px;
    width: 95%;
    padding: 5px 10px;
    margin: 5px 10px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

#typesec>button {
    margin: auto;
    width: 10%;
    border: 2px solid black;
    border-radius: 5px;
}

#typesec>button>span>img {
    height: 12px;
    width: auto;
}
#typesec>button>span>img:hover {
    filter: invert();
}
#typesec>button {
    height: 40px;
}


.btn {
    height: auto;
    width: auto;
    background: white;
    color: var(--theme-pri);
    border: 2px solid var(--theme-pri);
    border-color: red;
    font-family: 'Poppins', sans-serif;
}

.btn:hover {
    color: white;
    background: var(--theme-pri);
}





/* HomePage */
nav{
    border: 2px solid red;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}
nav>*{
    border: 2px solid red;
}
nav>h1{
    border: 2px solid red;
}
nav>ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav>ul>li{
    margin: 0px 100px;
}
nav>ul>li>button{
    background: none;
    border: none;
}

#homecontainer{
    width: 100%;
    height: 100%;
}