#aboutcontainer {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

#aboutbody {
    /* margin-top: 60px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(145deg, var(--theme-sec), white);
}

#aboutbody {
    flex-direction: column;
    align-items: center;
}

#aboutbody>* {
    width: 50%;
}

#aboutbody>:nth-child(1) {
    /* border: 2px solid red; */
}

#aboutcontainer>* {
    /* border: 2px solid red; */
}